ul {
    list-style: none;
}

.done p {
    text-decoration: line-through;
}

.item {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 2.5rem;
    border: 1px solid ;
    padding: 0;
}

.content {
    flex-grow: 1;
}

.item .task__button {
    margin-right: 1.5%;
    height: 2em;
    border: none;
    background: none;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid;
    text-align: center;
}

.task__button:hover {
    box-shadow: 0 3px 10px grey;
    scale: 1.1;
}
.task__button:active{
    scale: 0.9;
}

#app {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.list {
    height: 100%;
    overflow-y: auto;
}

#list__items {
    margin: 0 auto;
    padding: 10px;
    text-align: left;
}

.form {
    height: 50vh;
    width: 40vh;
    display: flex;
    flex-direction: column;
    border: 1px solid #000;
}

.form h1{
    margin: 0 auto;
    margin-bottom: 10px;
}

.form__insert{
    align-self: center;
}

